/* Tailwind'in yeni v4 direktifi sadece budur */
@tailwind utilities;

/* Geri kalan özel stillerimiz aynı kalabilir */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Starfield animation */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url('https://www.transparenttextures.com/patterns/stardust.png') repeat top center;
  z-index:-3;
}

.twinkling {
  z-index:-2;
  animation:move-twink-back 200s linear infinite;
}